
<div *ngIf="bill">
    <h2><span jhiTranslate="groceryBillingSystemApp.bill.detail.title">Bill</span> {{bill.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="groceryBillingSystemApp.bill.dateTime">Date Time</span></dt>
        <dd>
            <span>{{bill.dateTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="groceryBillingSystemApp.bill.total">Total</span></dt>
        <dd>
            <span>{{bill.total}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bill/'+ bill.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
